* {
  box-sizing: border-box;
}

body {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

button:focus {
    outline:0;
}

.app-container {
    width: 90%;
    margin: 0 auto;
}

.mdl-button--fab {
    background-color: #F98866;
    color: white;
}
